body {
}

 .input1{
     width: 100px !important;
     display: inline-block !important;
 }

 .bdr{
     border:1px solid black;
     border-radius:5px;
     padding: 5px 5px 5px 5px;
     margin: 5px 0 5px 0;     
 }
 