body {
}

 .input1{
     width: 100px !important;
     display: inline-block !important;
 }

 .txtlo1{
     display:inline-block !important;          
     padding:0 5px 0 0 !important;
 }

 .txtlo2{
     display:inline-block !important;     
     padding: 0 5px 0 10px;
 }

 .bdr{
     border:1px solid black;
     border-radius:5px;
     padding: 5px 5px 5px 5px;
     margin: 5px 0 5px 0;     
 }
 
 .tc{
     width:100px;
 }

 .s1{
     width:100px;
     display: inline-block !important;     
 }

 .s2{     
     display: inline-block !important;     
     vertical-align:top;
     padding: 20px 0 0 5px;
 }